@page "/"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System
@using Microsoft.AspNetCore.SignalR.Client
@using OnlineChess.Data
@inject PlayerDataService playerDataService
@inject LobbyService lobbyService
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject SQLiteDataService sqliteDb
@inject ProtectedLocalStorage BrowserStorage
@inject NotifierService Notifier
@implements IAsyncDisposable

@switch (playerDataService.playerUiState)
{
    case PlayerUiState.None:
        <p><em>Loading...</em></p>
        break;

    case PlayerUiState.InLobby:
        <Lobby PlayerList="@_playerList" PlayerName="@playerName"></Lobby>
        break;

    case PlayerUiState.InGame:
        <div>Game field TBD</div>
        break;
}

@code {
    private HubConnection hubConnection;
    private List<string> _playerList = new List<string>();
    private string playerName;
    @* private (string key, int value) lastNotification; *@

    protected override void OnInitialized()
    {
        Notifier.Notify += OnNotify;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        if (string.IsNullOrEmpty(playerDataService.accountId))
        {
            // read cookie
            var result = await BrowserStorage.GetAsync<string>("accountId");
            string accountId = result.Success ? result.Value : "";
            
            if (string.IsNullOrEmpty(accountId))
            {
                Console.WriteLine("[OC] redirect to login");
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                playerDataService.accountId = accountId;
            }
        }

        playerName = sqliteDb.GetPlayerName(playerDataService.accountId);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/lobbyhub"))
            .Build();

        hubConnection.On<List<string>>("RefreshPlayerList", (players) =>
        {
            _playerList = players;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        lobbyService.AddPlayer(playerDataService.accountId, hubConnection.ConnectionId);
        playerDataService.playerUiState = PlayerUiState.InLobby;
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async Task OnNotify(string key, int value)
    {
        await InvokeAsync(() =>
        {
            @* lastNotification = (key, value); *@
            StateHasChanged();
            lobbyService.RefreshPLayerList();
        });
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
        Notifier.Notify -= OnNotify;
    }
}