@page "/login"

@using OnlineChess.Data
@inject PlayerDataService playerDataService
@inject LobbyService LobbyService
@inject NavigationManager navManager

<h3>Welcome to Online Chess</h3>
<div>
    please enter your nickname
    <input @bind="userInput"/>
    <button @onclick="OnSubmit">Submit</button>
</div>
@if (showWarning)
{
    <div>
        Sorry, Name is already taken
    </div>
}

@code {
    private string userInput;
    private bool showWarning = false;

    private void OnSubmit()
    {
        if (!string.IsNullOrEmpty(userInput))
        {
            if (LobbyService.NameAvailable(userInput))
            {
                playerDataService.currentPlayer.Name = userInput;
                playerDataService.currentPlayer.State = PlayerState.Ready;
                navManager.NavigateTo("/");
            }
            else
            {
                showWarning = true;
            }
        }
    }
}
