@using OnlineChess.Data
@inject LobbyService lobbyService
@inject PlayerDataService playerDataService

<div class=@(playerDataService.StyleData[RowIndex][CellIndex] == "default" ? GSession.Field.GameField[RowIndex][CellIndex].DefaultCellStyle : playerDataService.StyleData[RowIndex][CellIndex])
    @onclick="CellClick">@GSession.Field.GameField[RowIndex][CellIndex].Value</div>

@code 
{
    [Parameter]
    public int RowIndex { get; set; }
    [Parameter]
    public int CellIndex { get; set; }
    [Parameter]
    public GameSession GSession { get; set; }

    protected override void OnInitialized()
    {
    }
    
    private async Task CellClick()
    {
        // proceed only on my turn
        if (!GSession.IsItMyTurn(playerDataService.AccountId))
            return;

        if (GSession.Field.GameField[RowIndex][CellIndex].IsWhite() &&
            (GSession.WhitePlayer == playerDataService.AccountId) ||
            GSession.Field.GameField[RowIndex][CellIndex].IsBlack() &&
            (GSession.BlackPlayer == playerDataService.AccountId))
        {
            // I have clicked on my Figure
            playerDataService.ResetStyleData();
            playerDataService.SelectFigure(RowIndex, CellIndex);
            lobbyService.ReRender(GSession.SessionId, "GameField");
        }
        else if (playerDataService.FigureSelected
            // TODO
            // && playerDataService.MoveAllowed(RowIndex, CellIndex)
            )
        {
            GSession.MoveFigure(playerDataService.SelectedCell, RowIndex, CellIndex);
            playerDataService.FigureSelected = false;
            playerDataService.ResetStyleData();
            lobbyService.ReRender(GSession.SessionId, "GameField");
            lobbyService.ReRender(GSession.SessionId, "StatsField");
        }
    }
}