@using OnlineChess.Data
@inject LobbyService lobbyService
@inject PlayerDataService playerDataService

<div class="chess-field">
    <div class="grid-container">
        @for (int rowIndex = 0; rowIndex < 10; rowIndex++)
        {
            @for (int cellIndex = 0; cellIndex < 10; cellIndex++)
            {
                <Cell RowIndex="@rowIndex"
                    CellIndex="@cellIndex"
                    GSession="@GSession" />
            }
        }
    </div>
</div>

@code
{
    public GameSession GSession { get; set; }
    protected override void OnInitialized()
    {
        GSession = lobbyService.GetGameSession(playerDataService.AccountId);
    }

    public void ReRender()
    {
        StateHasChanged();
    }
}