.chess-field { grid-area: ChessField; }
.stats { grid-area: Stats; }
.chat { grid-area: Chat; }

.grid-container {
  display: grid;
  grid-template-areas:
    'ChessField ChessField Stats'
    'ChessField ChessField Chat'
    'ChessField ChessField Chat'
    'ChessField ChessField Chat';
  grid-gap: 10px;
  padding: 10px;
}