@using OnlineChess.Data
@inject LobbyService lobbyService
@inject PlayerDataService playerDataService

<div class="grid-container">
  <div class="chess-field"><ChessField @ref="_gameField"/></div>
  <div class="stats"><StatsField @ref="_statsField"/></div>  
  <div class="chat">Chat</div>
</div>

@code
{
    public FieldData Field { get; set; }
    private string SessionId { get; set; }
    private StatsField _statsField;
    private ChessField _gameField;
    protected override void OnInitialized()
    {
        SessionId = lobbyService.GetSessionId(playerDataService.accountId);
        Field = lobbyService.GetSessionField(SessionId);
    }

    public void ReRender(string target)
    {
        switch (target)
        {
            case "StatsField":
                _statsField.ReRender();
                break;

            case "GameField":
                _gameField.ReRender();
                break;
        }
    }
}