@using System.Collections.Generic
@using OnlineChess.Data
@inject LobbyService lobbyService
@inject PlayerDataService playerDataService
@inject SQLiteDataService sqliteDb

<div class="debug">
    <div>Host: @sqliteDb.GetPlayerName(GSession.OwnerId)</div>
    <div>White player: TBD</div>

    <div>players in room:</div>
    @foreach (string playetId in GSession.Players)
    {
        <div> * @sqliteDb.GetPlayerName(playetId)</div>
    }
    <Button @onclick="LeaveGame">Leave Game</Button>
</div>

@code
{
    public string Host { get; set; }
    public List<string> Players { get; set; }
    private GameSession GSession { get; set; }

    protected override void OnInitialized()
    {
       GSession = lobbyService.GetGameSession(playerDataService.accountId);  
    }

    public void ReRender()
    {
        StateHasChanged();
    }

    private async Task LeaveGame()
    {
        if (GSession.SessionState == SessionState.Preparation)
        {
            // we can leave, no harm done
            playerDataService.playerUiState = PlayerUiState.InLobby;
            lobbyService.LeaveGame(GSession.SessionId, playerDataService.accountId);
        }
        else
        {
            // TODO show modal that game ended since one of the key players left
        }
    }
}